.header__menu {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: flex-end;
}

.header-right-component {
    cursor: pointer;
}

.header-right__authorization span {
    color: black;
}

.menu__list {
    display: flex;
    gap: 15px;
}

.menu__link {
    color: #8A8A8A;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.menu__link:hover {
    color: black;
}

.header__container {
    display: flex;
    flex-direction: column;
}

.header__center {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.header__title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.header__right {
    display: flex;
    gap: 30px;
}

.header-right-component {
    row-gap: 10px;
}

.header-right-component span {
    font-weight: 700;
    font-size: 10px;
}

.search__content {
    margin: 40px 0 0 0;
    display: flex;
    position: relative;
    vertical-align: top;
    justify-content: center;
    width: 100%;
}

.search__input {
    width: 100%;
    border: 2px solid black;
    outline: none;
    height: 40px;
    border-radius: 30px;
    padding: 0 40px;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.search__button {
    height: 39px;
    border: 2px solid black;
    border-radius: 30px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

@media (max-width: 414.98px) {
    .search__button {
        font-size: 14px;
        padding: 0px 25px;

    }

    .search__input {
        padding: 0 30px;
    }

    .search__input::placeholder {
        font-size: 12px;
    }
}

/* ================================= ADAPTIVE MENU ================================= */

.burger-menu {
    display: none;
}

@media (max-width: 767.98px) {
    .blur {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(2px);
        position: absolute;
        left: 30%;
        z-index: 1;
    }

    .menu__link {
        color: #595757;
        font-weight: 700;
    }

    .nav__menu {
        width: 0;
        margin-right: 0;
    }

    .burger-menu {
        height: 20%;
        width: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .burger-bar {
        width: 1.1em;
        height: 0.1em;
        background-color: rgba(183, 183, 183, 1);
        border-radius: 0.2em;
        transition: ease-out 0.5s;
    }

    .two.burger-bar {
        width: 0.8em;
    }

    .three.burger-bar {
        width: 0.5em;
    }

    .menu {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transition: ease-out 0.5s;
        z-index: 2;
        box-shadow: 0px -10px 10px 10px rgba(217, 217, 217, 0.25);
    }


    .menu__list {
        flex-direction: column;
        gap: 0;
        width: 40%;
        height: 100vh;
        background: white;
    }

    .menu__item {
        width: 100%;
        padding: 10px 0 10px 15px;
        transition: all 0.3s ease 0s;
    }

    .menu__item:hover {
        background: #f3f3f3;
    }

    .hidden {
        transform: translateX(-130%);
    }

    .visible {
        transform: translateX(0%);
    }

    .visible~.wrapper {
        background: black;
    }

    .burger-bar.clicked:nth-child(1) {
        transform: rotate(45deg) translate(0em, 0.4em);
        transition: ease-out 0.5s;
        width: 1em;
    }

    .burger-bar.clicked:nth-child(2) {
        transform: scale(0);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(135deg) translate(0.05em, 0.35em);
        transition: ease-out 0.5s;
        width: 1em;
    }


    .header__right {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        display: flex;
        justify-content: center;
        gap: 40px;
        box-shadow: 0px -10px 10px 0px rgba(217, 217, 217, 0.25);
        align-items: center;
        background: white;
        z-index: 1;
    }
}

@media (max-width: 484.98px) {
    .menu__list {
        width: 100%;
    }

    .blur {
        display: none;
    }

    .burger-menu.active {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(135deg) translate(-4.9em, 5.3em);
        transition: ease-out 0.5s;
        width: 1em;
    }
}

/* ================================== BASKET STYLE ==================================*/


.header-right__basket {
    position: relative;
}

.basket-content {
    position: fixed;
    top: 190px;
    right: 10%;
    background: white;
    box-shadow: 0px 4px 30px 0px rgba(183, 183, 183, 0.25);
    padding: 20px 40px;
    pointer-events: none;
    z-index: 2;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    width: 450px;
}

.favorite.basket-content {
    left: 10%;
}

.basket-content__items {
    height: 300px;
    overflow-y: auto;
}

@media (max-width: 913.98px) {
    .basket-content {
        right: 5%;
    }

    .favorite.basket-content {
        left: 5%;
    }
}

@media (max-width: 767.98px) {
    .favorite.basket-content {
        left: 0%;
    }

    .basket-content {
        width: 100%;
        height: 300px;
        right: 0;
        left: 0;
        top: 43%;
        padding: 20px 5px;
        border-radius: 20px 20px 0 0
    }

    .basket-content__items {
        height: 150px;
        overflow-y: auto;
        padding: 0 15px;
    }
}

.basket-content.active {
    opacity: 1;
    pointer-events: all;
}

.basket-content__item {
    display: flex;
    margin: 0 0 15px 0;
    justify-content: space-between;
    align-items: center;
}

.item-content__left {
    display: flex;
    gap: 10px;
}

.basket-content__item img {
    border-radius: 5px;
}

.basket-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
}

.basket-item__name p {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    width: 100%;
}

.basket-item__price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 10px;
    margin: 10px 0 0 0;
}

.basket-item__price span {
    font-size: 14px;
    font-weight: 700;
}

.close-basket {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.basket-button__block {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
}

.basket-content__button {
    font-size: 14px;
    border-radius: 55px;
    background: black;
    padding: 12px 20px;
    color: white;
    font-weight: 700;
}

.basket-content__total-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0 0 0;
}

.basket-content__zero {
    font-weight: 700;
    margin: 25px 0 15px 0;
    text-align: center;
}

.basket-item__delete {
    cursor: pointer;
}

.button-favorite-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.add-product-basket {
    background: black;
    color: white;
    padding: 5px 0;
    width: 100px;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.add-product-basket:hover {
    background: rgba(0, 0, 0, 0.873);
}

.message-basket {
    position: fixed;
    right: -1000px;
    top: 50px;
    transition: all 0.3s ease 0s;
}

.message-basket.active {
    right: 10px;
    background: #76e1f6;
    padding: 5px 8px;
    border-radius: 5px;
    color: #d938bc;
    font-weight: 700;
}